@using DrahtenWeb.Extensions
@model UserSearchOptionsViewModel

<div class="row">
    <h1 class="text-center mb-4">Available Topics</h1>
    <div class="card-container">
        @{
            @foreach (var topic in Model.Topics)
            {
                if (topic.Children.Count == 0)
                {
                    <div class="card modern-card">
                        <div class="topic-card-body d-flex flex-column gap-1">
                            <div class="d-flex justify-content-center align-items-center mb-3">
                                <i class="fas fa-code modern-card-icon"></i>
                            </div>
                            <h5 class="topic-card-title text-center pt-2 pb-2">@topic.TopicFullName.FromSnakeToPascalCase().PascalCaseWithSpaces()</h5>
                            <p class="topic-card-text ps-2 mb-1">Number of Articles: <span class="badge bg-primary">@Model.TopicArticles[topic.TopicId].Count</span></p>
                            <p class="topic-card-text ps-2 mb-1">Number of Subscriptions: <span class="badge bg-success">@Model.TopicSubscriptions[topic.TopicId].Count</span></p>
                            <div class="overflow-auto flex-grow-1 modern-card-content">
                                <ul class="nav nav-pills flex-column mb-5 ps-2">
                                    <li>Sources:</li>
                                    @foreach (var keyValuePair in Model.TopicSources[topic.TopicId])
                                    {
                                        <li class="nav-item">
                                            <a href="@keyValuePair.Key" target="_blank" class="modern-card-link">@keyValuePair.Value</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <button class="btn btn-topic-subscribe mt-auto modern-card-btn" onclick="subscribeToTopic('@topic.TopicId')">Subscribe</button>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
       
        function subscribeToTopic(topicId) {

            console.log("subscribed");

            //TODO: Uncomment the ajax call when finished with the development of this page.
            //It is commented for now just for testing purposes.

            // //Send async POST http request to /User/UserTopicSubscription
            // $.ajax({
            //     type: 'POST',
            //     url: '/User/UserTopicSubscription',
            //     data: {
            //         'topicId': topicId
            //     },
            //     //TODO: Log the messages for success, failure or error to logging service.
            //     success: (response) => {

            //         console.log("success", response);
            //     },
            //     failure: (reponse) => {

            //         console.log("failure", response);
            //     },
            //     error: (response) => {

            //         console.log("error", response);
            //     }
            // });
        }

    </script>
}